<!DOCTYPE html>
<html>
<head>
    <title>Image Classifier</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h1>Image Classifier</h1>
    <form action="prediction" method="POST" enctype="multipart/form-data">
        <input type="file" name="image">
        <input type="submit" value="Submit">
    </form>
    <br>
    <div id="prediction"></div>

    <script>
        // Submit the form on submit button click
        $('#upload-form').submit(function(e){
            e.preventDefault();
            var form_data = new FormData($('#upload-form')[0]);
            $.ajax({
                type: 'POST',
                url: 'http://localhost:5000/predict',
                data: form_data,
                contentType: false,
                cache: false,
                processData: false,
                success: function(response) {
                    $('#prediction').html('Predicted label: ' + response.label);
                },
                error: function(error) {
                    console.log(error);
                }
            });
        });
    </script>
</body>
</html>
